/*
Challenge:
Select the img tag and set the width 
of the Google logo to be 300px.
*/

.logo-img {
  margin-top: 100px;
  display: block;
  width: 300px;
  /* margin-bottom: 24px; */
}

.search-input {
  display: block;
  width: 400px;
  margin-top: 24px;
}