body {
  margin: 0px;
}

.red {
  background: #c71226;
  height: 100px;
  /* margin-bottom: 100px; */
}

.blue {
  background: #0d1b88;
  height: 100px;
  margin: 20px 0;
}

.green {
  background: #397327;
  height: 100px;
}